# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VENV
# =========================
venv/
env/

# =========================
# ENV FILES
# =========================
.env

# =========================
# FLASK INSTANCE
# =========================
instance/

# =========================
# SQLITE
# =========================
*.db
*.sqlite3

# =========================
# MIGRATIONS CACHE
# =========================
migrations/__pycache__/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTEST
# =========================
.pytest_cache/

# =========================
# COVERAGE
# =========================
.coverage
htmlcov/

# =========================
# BUILD
# =========================
dist/
build/